mixin Education (param={})
    .education.pt-100.pb-100 
        .education__col
            button.education__btn.button_animation 
                //- img(src="/assets/img/svg/arrow-right.svg", alt="")
                img(src="/assets/img/contents/arrow-right.png", alt="")
                //- +icon('arrow-right')
            .education__link 
                a(href="#").link_blue Meet your host 
            .education__title.title Jacob Paulaner
            .education__subtitle
                span.subtitle Jacob has a background in audio engineering, and has been podcasting since the early days.
                span.subtitle He’s here to help you level up your game by sharing everything he’s learned along the way.
        .education__col
            .education__img
                img(src="/assets/img/contents/jacob-paulaner.png", alt="")
