mixin Header(param = {})

    header.header.header-container
        .header__logo
            img(src="/assets/img/contents/logo.png", alt="")
        .header__nav    
            ul 
                each link, i in ['Home', 'Episodes', 'About', 'Contact']
                    li
                        a(href="#" class= i === 0 ? 'link_blue' : '')=link