mixin Header(param = {})

    header.header.header-container
        .header__logo
            img(src="/assets/img/contents/logo.png", alt="")
        .header__nav    
            ul 
              - 
                const arr = [
                  ['Home', '#main-banner'],
                  ['Episodes', '#list-cards'],
                  ['About', '#education'],
                  ['Contact', '#subscribe'],
                ]
              each item, i in arr
                li
                  a(href=item[1] class= i === 0 ? 'link_blue' : '')=item[0]