.review-card{
    display: flex;
    flex-direction: column;
    max-width: calc(33% - 8px);
    max-height: max-content;
    min-width: 423px;
    min-height: 321px;
    width: 100%;
    height: auto;
    padding: 54px 50px 50px;
    @media (max-width: 1368px){
        max-width: calc(50% - 8px);
    }
    @media (max-width: 946px){
        max-width: 100%;
        min-width: 100%;
    }
    &__rating{
        display: flex;
        column-gap: 5px;
        margin-bottom: 21px;
        img{
            width: 18px;
            height: 17px;
        }
    }
    &__text{
        margin-bottom: 19px;
    }
    .subtitle{
        font-size: 24px;
        font-weight: 120%;
    }
    @media (max-width: 400px){
        min-width: 100%;
        max-width: 100%;
    }
}