.cards{
    &__top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 3.44vw;
        gap: 20px;
    }
    &__body{
        display: flex;
        flex-direction: column;
        row-gap: 60px;
    }
}