.main-banner{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    column-gap: 60px;
    &__col{
        &:nth-child(1){
        }
        &:nth-child(2){
            max-width: 526px;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            row-gap: 90px;
        }
    }
    &__img{
        max-width: 650px;
        width: 100%;
        height: 873px;
        overflow: hidden;
        position: relative;
        border-radius: 12px;
        display: inline-block;
        img{
            height: 100%;
            object-fit: cover;
            transition: 1s;
            display: block;
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
    &__svg{
        svg{
            position: absolute;
            fill: $text-5;
            top: 14px;
            left: -26px;
            width: 68px;
            height: 74px;
        }
    }
    &__title{
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
    }
    &__var-one{
        position: relative;
        font-size: calc(40px + 34 * ((100vw - 320px) / (1920 - 320)));
        line-height: 117.333%;
        svg{
            fill: $text-5;
            // width: 160px;
            width: 8.33vw;
            height: 104px;
            position: absolute;
            left: 0;
        }
    }
    &__var-two{
        font-size: calc(43px + 31 * ((100vw - 320px) / (1920 - 320)));
        line-height: 110%;
    }
    &__services{
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
    &__resources {
        display: flex;
        flex-wrap: wrap;
        gap: 17px;
        img{
            width: 32px;
            height: 32px;
        }
        
        button{
            height: max-content;
            width: max-content;
            transition: 1s;
            &:hover img{
                transform: scale(1.1);
    
            }
        }
    }
    @media (max-width: 1336px){
        column-gap: 20px;
        justify-content: space-between;
        &__var-one{
            svg{
                width: 110px;
            }
        }
        &__col{
            width: calc(50% - 20px);
            &:nth-child(2){
                max-width: calc(50% - 20px);
            }
        }
        .title{
        }
    }
    
    @include sm{
        &__img{
            height: 600px;
        }
        &__svg{
            svg{
                top: 23px;
                left: -13px;
                width: 55px;
                height: 50px;
            }
        }
        
    }
    @media (max-width: 657px){
        flex-direction: column;
        &__img{
            width: 100%;
            height: 400px;
        }
        &__col{
            width: 100%;
            max-width: 100%;
            &:nth-child(2){
                width: 100%;
                max-width: 100%;
                row-gap: 50px;
            }
        }
        
        &__var-one{
            svg{
                width: 95px;
                top: -20px;
            }
        }
    }
}