mixin Main-banner(param={})
    .main-banner#main-banner.pt-40
        .main-banner__col
            .main-banner__img
                img(src="/assets/img/contents/main-banner.png", alt="main-banner")
            .main-banner__svg
                +icon('lines-top')
        .main-banner__col
            .main-banner__title.title Take your podcast to the 
                .main-banner__var-one next
                    +icon('underline')
                .main-banner__var-two level
            .main-banner__services
                span Listen on
                .main-banner__resources 
                    button
                        img(src="/assets/img/svg/resource-1.svg", alt="")
                    button
                        img(src="/assets/img/svg/resource-2.svg", alt="")
                    button
                        img(src="/assets/img/svg/resource-3.svg", alt="")
                    button
                        img(src="/assets/img/svg/resource-4.svg", alt="")
                    button
                        img(src="/assets/img/svg/resource-5.svg", alt="")

