extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    main 
        section.container
            +Main-banner()
        section.container 
            include ../components/Cards/Cards
        section.container 
            +Education()
        section.container.pt-100.pb-100
            include ../components/Subscribe/Subscribe
        section.container.pt-100.pb-100
            include ../components/Review/Review
        section.container.pt-100.pb-100
            +Footer()
    include _modals
