mixin Product-card(param={})
    .product-card.bg-black
        .product-card__img
            img(src="/assets/img/contents/card-1.png", alt="main-banner")
        button.product-card__tag=param.tag
        .product-card__episode=param.episode
        .product-card__title.title=param.title
        .product-card__subtitle.subtitle=param.subtitle
        button.button.product-card__btn View Episode Details
        