.product-card{
    display: flex;
    column-gap: 2.6vw;
    padding: 40px;
    border-radius: 32px;
    min-height: 545px;
    &__col{
        &:nth-child(2){
            width: 51.04vw;
            display: flex;
            flex-direction: column;
        }
    }
    &__img{
        height: 465px;
        width: 100%;
        max-width: 389px;
        overflow: hidden;
        img{
            height: 100%;
            object-fit: cover;
            transition: 1s;
        }
        &:hover img{
            transform: scale(1.1);
        }
    }
    &__tag{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        border-radius: 6px;
        background-color: $darkGray;
        color: $text-4;
        padding: 0 16px;
        width: max-content;
        margin-bottom: 48px;
    }
    &__episode{
        color: $text-5;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 158.824%;
        margin-bottom: 18px;
    }
    &__title{
        margin-bottom: 28px;
    }
    &__subtitle{
    }
    &__btn{
        margin-top: auto;
    }
    &__info{
        display: none;
        flex-direction: column;
        &_btn{
            border-radius: 400px;
            width: 5.83vw;
            height: 5.83vw;
            margin-bottom: 20px;
            display: flex;
            img{
                width: 3.7vw;
                height: 1.98vw;
                transform: rotate(180deg);
                @include xl{
                    width: 55px;
                    height: 29px;
                }
            }
        }
    }
    &__content{
        display: flex;
        justify-content: center;
        padding: 1.82vw 7.29vw;
        align-items: center;
    }
    @media (max-width: 1083px){
        &__subtitle{
            display: none;
        }
        &__content{
            .product-card__subtitle{
                display: block;
            }
        }
    }
    @media (max-width: 1277px){
        &__subtitle{
            margin-top: 20px;
        }
    }

    @include sm{
        min-height: 433px;
        &__img{
            height: 353px;  
            min-width: 200px;
        }
    }
    @media (max-width: 700px){
        min-height: 647px;
        flex-direction: column;
        padding: 20px;
        &__tag{
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &__img{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__col{
            &:nth-child(2){
                width: 100%;
            }
        }
        &__content{
            padding: 24vw 1vw;
        }
    }
    @media (max-width: 450px){
        &__img{
        }
    }
}
.product-card__info.active{
  display: flex;
  background-color: black;
  z-index: 1;
}